@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"), url("./fonts/futura-1/FuturaPTBook.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Light';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"), url("./fonts/futura-1/FuturaPTLight.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"), url("./fonts/futura-1/FuturaPTMedium.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"), url("./fonts/futura-1/FuturaPTDemi.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"), url("./fonts/futura-1/FuturaPTHeavy.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"), url("./fonts/futura-1/FuturaPTBold.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"), url("./fonts/futura-1/FuturaPTCondExtraBold.otf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Futura PT Light';
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
}

::-moz-selection {
  background-color: #b75d32;
  color: #f2f2f2;
}

::selection {
  background-color: #b75d32;
  color: #f2f2f2;
}

section {
  padding-left: 16rem;
  padding-right: 16rem;
}

#nav {
  padding-left: 2em;
  padding-right: 2em;
}

p, h1, h2, h3, span {
  color: #343434;
}

p, span {
  font-family: 'Futura PT Light';
}

h1 {
  font-family: 'Futura PT Heavy';
}

h2, h3 {
  font-family: 'Futura PT Medium';
}

.firstHover:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.firstHover::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 30%;
  height: 2px;
  background: #b75d32;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 1024px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  section {
    padding-left: 6em;
    padding-right: 6em;
  }
}

.card-link {
  padding: 20px 0;
}

.card-link .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  width: 350px;
  height: auto;
}

.card-link .card .card-title {
  color: black;
  margin: 0;
  font-size: 1.25rem;
  padding-bottom: 10px;
}

.card-link .card .card-date {
  font-size: 0.8rem;
  padding-bottom: 20px;
}

.card-link .card p {
  color: #343434;
}

.card-link .card .card-link-arrow {
  font-size: 1rem;
}

.card-link .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 20px;
}

.card-link .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=CardsBlog.css.map */