@import '../settings';

.page-contact{
    height: 100vh;
    background-color: $fourth-color;
}
.contact-title-content{
    width: 50vw;
    padding-top: 10em;
    .contact-title{
        text-transform: uppercase;
        font-size: $size7;
    }    
}

.footer{
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-credits{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    .footer-credits-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .credits-title{
            font-size: $size3;
        }
        .credits-entreprise{
            font-size: $size2;
        }
    }
    .footer-slogan-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .slogan-title{
            font-size: $size3;
        }
        .slogan2023{
            font-size: $size2;
        }
    }
}
.contact-info{
    padding-left: 10em;
    width: 60%;
    .contact-email,
    .contact-num{
        font-size: $size8;
        margin: 0 auto;
        a{
          color: $primary-color;  
        }
    }
    .contact-credits{
        padding-top: 16vh;
        .contact-credits-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            a{  
                font-size: $size7;
                color: $primary-color;
                }
        }
    }
}

@media (max-width: $breakpoint-computer) {
    .page-contact{
        height: auto;
        padding-top: 1em;
    }
  .contact-title-content{
      width: 100%;
      padding-top: 3em ;
      .contact-title{
        font-size: $size7;
    } 
  }
  .contact-info{
    padding: 1em 0;
    width: 100%;
        .contact-email,
        .contact-num{
            font-size: $size6;
        }
        .contact-credits{
            padding-top: 2vh;
            .contact-credits-content{
                a{  
                    font-size: $size4;
                    color: $primary-color;
                    }
            }
        }
    }
    .footer-credits{
        width: 100%;
        height: auto;
        padding: 2em 0;
        text-align: left;
        .footer-credits-content{
            .credits-title{
                font-size: $size2;
            }
            .credits-entreprise{
                font-size: $size1;
            }
        }
        .footer-slogan-content{
            .slogan-title{
                font-size: $size2;
            }
            .slogan2023{
                font-size: $size1;
            }
        }
    }
}