@import '../settings';

.page-informations{
    min-height: 150vh;
    background-color: $fourth-color;
    .information-title{
        position: relative;
        font-size: $size6;
        width: 60%;
        padding: 3rem 0em 3em 16rem;
    }
    .info2{
        background-color: $secondary-color !important;
        display: flex;
        flex-direction: row-reverse;
    }
    .informations-content{
        padding: 4em 8em;
        height: auto;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        position: relative;
        background-color: $fourth-color;
        .informations-content-bloc{
            width: 50%;
            display: flex;
            justify-content: center;
            .content-bloc-img{
                align-self: center;
                display: flex;
                justify-content: center;
                .bloc-img{
                    width: 70%;
                    height: 100%;
                }
            }
            .content-bloc{
                width: 440px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto 0;
                .bloc{
                    height: 220px;
                    width: 220px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    img,
                    svg{
                        height: 40%;
                        align-self: center;
                    }
                    h2{
                        font-weight: $font4;
                    }
                    p{
                        font-weight: $font1;
                        font-size: $size3;
                    }
                }
                .bloc1{
                    img{
                        height: 50%;
                    }
                }
            }
        }
        .informations-content-article{
            margin: 0 auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                margin: 0 auto;
                width: 65%;
                font-size: $size7;
                color: $primary-color;
            }
            p{
                padding-top: 1em;
                width: 65%;
                font-size: $size6;
                color: $primary-color;
                font-weight: $font1;
            }
        }
        
    }
}
.arrow-circle {
            position: absolute;
            bottom: 2em;
            right: 3em;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 1px solid $primary-color;
            float: right;
            color: $primary-color;
            transition: transform 0.5s;
            display: inline;
            overflow: hidden;
            &:hover{
                .text-arrow1,
                .text-arrow2,
                .arrow,
                .text-arrow{
                    transform: translateX(3.7em);
                }
            }
            .text-arrow{
                position: absolute;
                font-size: 1.5em;
                top: 32%;
                right: 4em;
                transition: transform 0.5s;
            }
            .text-arrow1{
                position: absolute;
                font-size: 1.5em;
                top: 32%;
                right: 4.7em;
                transition: transform 0.5s;
            }
            .text-arrow2{
                position: absolute;
                font-size: 1.5em;
                top: 32%;
                right: 4.2em;
                transition: transform 0.5s;
            }
            .arrow {
            position: absolute;
            font-size: 3em;
            top: 10%;
            left: 25%;
            transition: transform 0.5s;
          }
        }
          

@media (max-width: $breakpoint-computer){
.page-informations{
    .information-title{
        position: relative;
        font-size: $size5;
        width: 100%;
        padding: 2rem 2rem;
    }
    .informations-content{
    flex-direction: column-reverse;
    padding: 2em;
        .informations-content-bloc{
            width: 100%;
            padding-bottom: 5em;
            padding-top: 2em;
            .content-bloc{
                width: auto;
                .bloc1{
                    height: 100px;
                    width: 50%;
                    img{
                        height: 100%;
                    }
                }
        }
}
    .informations-content-article{
        width: 100%;
        flex-direction: column;
        h1{
            width: 100%;
        }
        p{
            font-size: $size4;
            padding-top: 1em;
            width: 100%;
        }
    }
}
}
.arrow-circle {
    bottom: 1em;
    right: 1em;
    height: 60px;
    width: 60px;
    .text-arrow2,
    .text-arrow1,
    .text-arrow{
        font-size: 0.9em;
    }
    .arrow {
        font-size: 1.8em;
        top: 10%;
        left: 25%;
      }
  }
  
}

@media (max-width: $breakpoint-phone){
.page-informations{
    .informations-content{
        .informations-content-bloc{
            .content-bloc{
                .bloc{
                    height: 200px;
                    width: 150px;
                    h2{
                        font-size: $size4;
                    }
                    p{
                        font-weight: $font1;
                        font-size: $size2;
                    }
                }
        }
    }
}
} 
}
@media (max-width: $breakpoint-tablet){
    .page-informations{
        text-align: center;
    }
}