@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"), url("./fonts/futura-1/FuturaPTBook.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Light';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"), url("./fonts/futura-1/FuturaPTLight.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"), url("./fonts/futura-1/FuturaPTMedium.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"), url("./fonts/futura-1/FuturaPTDemi.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"), url("./fonts/futura-1/FuturaPTHeavy.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"), url("./fonts/futura-1/FuturaPTBold.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"), url("./fonts/futura-1/FuturaPTCondExtraBold.otf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Futura PT Light';
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
}

::-moz-selection {
  background-color: #b75d32;
  color: #f2f2f2;
}

::selection {
  background-color: #b75d32;
  color: #f2f2f2;
}

section {
  padding-left: 16rem;
  padding-right: 16rem;
}

#nav {
  padding-left: 2em;
  padding-right: 2em;
}

p, h1, h2, h3, span {
  color: #343434;
}

p, span {
  font-family: 'Futura PT Light';
}

h1 {
  font-family: 'Futura PT Heavy';
}

h2, h3 {
  font-family: 'Futura PT Medium';
}

.firstHover:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.firstHover::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 30%;
  height: 2px;
  background: #b75d32;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 1024px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  section {
    padding-left: 6em;
    padding-right: 6em;
  }
}

.slide-bar {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  background-color: #f2f2f2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.slide-bar,
.show {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  overflow: hidden;
  position: fixed;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.slide-bar-content {
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  padding-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.slide-bar-content .slide-link {
  width: 10em;
  padding-top: 1em;
  font-size: 1.953rem;
}

.slide-button {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
}

.slide-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6em;
}

.slide-slogan p {
  font-size: 1.25rem;
}

.slide-slogan img {
  height: 90px;
  width: 90px;
}

@media (max-width: 600px) {
  .slide-bar-content {
    padding-top: 4em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide-bar-content .slide-link {
    font-size: 1.25rem;
    padding-top: 0em;
  }
  .slide-bar {
    width: 100%;
  }
  .slide-slogan {
    padding-top: 5em;
    font-size: 0.8rem;
  }
  .slide-slogan p {
    font-size: 1rem;
  }
  .slide-slogan img {
    margin-top: 1em;
    height: 60px;
    width: 60px;
  }
}
/*# sourceMappingURL=NavbarMenu.css.map */