@import '../settings';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 12vh;
    color: $primary-color;
    font-size: $size8;
    transition: .7s;
    z-index: 10;
    // border-bottom: 1px solid $primary-color;
    backdrop-filter: blur(4px);
    &.hidden {
        height: 0px;
        margin: -100px 0;
      }
    .menu {
      width: 15em;
      font-size: $size6;
      font-weight: $font1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      a {
        position: relative;
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
  .logo {
      color: $primary-color;
      position: absolute;
      font-size: $size10;
      top: 24px;
      left: 0px;
      padding-left: 3rem;
      font-weight: bold;
      font-family: 'GallientRegular', sans-serif;
      opacity: 0.1;
      
    }


@media (max-width: $breakpoint-phone) {

  .navbar {
    font-size: $size5;
    justify-content: center;
    &.hidden {
        height: 0px;
        margin: -100px 0;
      }
    .menu {
      font-size: $size5;
      font-weight: $font1;
      padding-right: 0em;
      a {
        color: $primary-color;
        text-decoration: none;
        margin: 0 1rem;
        &:hover {
          color: lighten($primary-color, 20%);
        }
      }
    }
  }
  .logo {
    font-size: $size8;
    top: 8px;
    left: 0px;
    padding-left: 2rem;
    opacity: 1;
    color: $fifth-color;
  }
}