@import '../settings';

.slide-bar {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  background-color: $fourth-color;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.slide-bar,
.show{
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  position: fixed;
}
  .slide-bar-content{
    height: 100%;
    transition: transform 0.5s ease-in-out;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    .slide-link{
      width: 10em;
      padding-top: 1em;
      font-size: $size7;
    }
  }
  .slide-button {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.5s ease-in-out;
    font-size: $size4;
    cursor: pointer;
  }
  .slide-slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
    p{
      font-size: $size5;
    }
    img{
      height: 90px;
      width: 90px;
    }
  }

  @media (max-width: $breakpoint-phone) {
    .slide-bar-content{
      padding-top: 4em;
      align-items: center;
      .slide-link{
        font-size: $size5;
        padding-top: 0em;
      }
    }
    .slide-bar{
      width: 100%;
    }
    .slide-slogan{
      padding-top: 5em;
      font-size: $size3;
      p{
        font-size: $size4;
      }
      img{
        margin-top: 1em;
        height: 60px;
        width: 60px;
      }
    }
  }