// .logo1{

// }
.navbar1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    color: white;
    font-size: $size7;
    transition: .7s;
    z-index: 10;
    mix-blend-mode: difference;
}