@import '../settings';


.logo1{
    position: absolute;
      font-size: $size7;
      top: 10px;
      left: 200px;
      font-weight: bold;
      margin-left: 1rem;
      font-family: 'GallientRegular', sans-serif;
}