@import '../settings';


.logo1{
  color: $fifth-color;
  position: absolute;
  font-size: $size9;
  top: 30px;
  left: 0px;
  padding-left: 3rem;
  font-weight: bold;
  font-family: 'GallientRegular', sans-serif;
}