@import '../settings';


.logo1{
  color: $fifth-color;
  position: absolute;
  font-size: $size8;
  top: 9px;
  left: 0px;
  padding-left: 2rem;
  font-weight: bold;
  font-family: 'GallientRegular', sans-serif;
}
.contact-padding{
  padding-top: 5em;
}