@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Book';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"), url("./fonts/futura-1/FuturaPTBook.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Light';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"), url("./fonts/futura-1/FuturaPTLight.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"), url("./fonts/futura-1/FuturaPTMedium.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Demi';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"), url("./fonts/futura-1/FuturaPTDemi.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"), url("./fonts/futura-1/FuturaPTHeavy.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"), url("./fonts/futura-1/FuturaPTBold.otf") format("woff");
}

@font-face {
  font-family: 'Futura PT Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"), url("./fonts/futura-1/FuturaPTCondExtraBold.otf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Futura PT Light';
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
}

::-moz-selection {
  background-color: #b75d32;
  color: #f2f2f2;
}

::selection {
  background-color: #b75d32;
  color: #f2f2f2;
}

section {
  padding-left: 16rem;
  padding-right: 16rem;
}

#nav {
  padding-left: 2em;
  padding-right: 2em;
}

p, h1, h2, h3, span {
  color: #343434;
}

p, span {
  font-family: 'Futura PT Light';
}

h1 {
  font-family: 'Futura PT Heavy';
}

h2, h3 {
  font-family: 'Futura PT Medium';
}

.firstHover:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.firstHover::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 30%;
  height: 2px;
  background: #b75d32;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 1024px) {
  section {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  section {
    padding-left: 6em;
    padding-right: 6em;
  }
}

.page-equipe {
  height: auto;
  color: #343434;
}

.equipe-title-content {
  padding-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70vw;
  height: auto;
  padding-bottom: 15em;
}

.equipe-title-content .equipe-title {
  width: 60%;
}

.equipe-title-content .equipe-title h1 {
  font-size: 3.052rem;
}

.equipe-title-content .equipe-underTitle {
  padding-top: 2em;
  width: 55%;
}

.equipe-title-content .equipe-underTitle span {
  font-size: 1.563rem;
}

.equipe-img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equipe-img-content .equipe-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  padding-bottom: 3em;
}

.equipe-img-content .equipe-img img {
  border-radius: 0px;
  width: 250px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.equipe-img-content .equipe-img .equipe-img-text {
  width: 80%;
  text-align: left;
}

.equipe-img-content .equipe-img .equipe-img-text h3 {
  padding: 1rem 0em;
  font-size: 1.953rem;
}

.equipe-img-content .equipe-img .equipe-img-text p {
  font-size: 1.25rem;
}

@media (max-width: 1600px) {
  .equipe-title-content .equipe-title h1 {
    font-size: 1.953rem;
  }
  .equipe-title-content .equipe-underTitle span {
    font-size: 1.25rem;
  }
}

@media (max-width: 1200px) {
  .equipe-img-content .equipe-img {
    width: 300px;
    padding-bottom: 3em;
  }
  .equipe-img-content .equipe-img img {
    width: 200px;
    height: 300px;
  }
  .equipe-img-content .equipe-img .equipe-img-text {
    width: 100%;
    text-align: left;
  }
  .equipe-img-content .equipe-img .equipe-img-text h3 {
    font-size: 1.563rem;
  }
  .equipe-img-content .equipe-img .equipe-img-text p {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .equipe-title-content .equipe-title h1 {
    font-size: 1.953rem;
  }
  .equipe-title-content .equipe-underTitle span {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .page-equipe {
    text-align: center;
  }
  .equipe-title-content {
    width: auto;
  }
  .equipe-title-content .equipe-title {
    width: 100%;
  }
  .equipe-title-content .equipe-title h1 {
    font-size: 1.563rem;
  }
  .equipe-title-content .equipe-underTitle {
    width: 100%;
  }
  .equipe-title-content .equipe-underTitle span {
    font-size: 1rem;
  }
  .equipe-img-content .equipe-img {
    width: 300px;
    padding-bottom: 3em;
  }
  .equipe-img-content .equipe-img img {
    width: 200px;
    height: 220px;
  }
  .equipe-img-content .equipe-img .equipe-img-text {
    width: 100%;
    text-align: center;
  }
  .equipe-img-content .equipe-img .equipe-img-text h3 {
    font-size: 1.563rem;
  }
  .equipe-img-content .equipe-img .equipe-img-text p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .equipe-title-content {
    padding-bottom: 12em;
  }
}
/*# sourceMappingURL=equipe.css.map */