@import '../settings';

.page-presentation{
    font-family: "GallientRegular";
    height: 100vh;
    background-color: $secondary-color;
    .page-presentation-left{
        width: 32%;
        height: 100%;
        border-right: 1px solid $primary-color;
    }
    .presentation-footer{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 12vh;
        width: 100%;
        border-top: 1px solid $primary-color;
        .footer-scroll{
            padding-left: 1.2em;
            display: flex;
            align-items: center;
            font-size: $size8;
            font-weight: $font1;
        }
        .footer-names{
            display: flex;
            align-items: center;
            font-size: $size8;
            font-weight: $font1;
            padding-right: 6em;
        }
        .arrow-circle1{
            position: absolute;
            bottom: 0.9em;
            left: 30em;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 1px solid $primary-color;
            float: right;
        }
        .arrow1{
            position: absolute;
            font-size: 3em;
            top: 17%;
            left: 33%;
            transform: rotate(90deg);  
        }
    }
}
.presentation-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .presentation-title{
        font-family: "GallientRegular";
        font-size: $size3;
        font-weight: $font1;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
    }
    .presentation-logo{
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

}

.page-do{
    height: 80vh;
    background-color: $fourth-color;
}
.do-title-content{
    background-color: $fourth-color;
    position: relative;
    height: 20vh;
    white-space: nowrap;
    overflow: hidden;
    .do-title-row{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        left: 0;
        top: 0;
        opacity: 0.3;
        position: absolute;
        animation: do-title 45s infinite linear;
    .do-title{
        font-size: 10em;
        line-height: 100%;
        letter-spacing: -0.033em;
        margin-right: 3.8vw;
        position: relative;
        white-space: nowrap;
        // width: 400px;
        // font-size: $sizeTitle2;
        // white-space: nowrap;
        // overflow: hidden;
        // width: 100%;
        // animation: do-title 10s linear infinite;
    }    
    }
    
}

@keyframes do-title {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.do-what-content{
    height: 100%;
    max-width: 80vw;
    .do-what{
        padding-left: 3em;
        height: 33%;
        display: flex;
        justify-content: start;
        color: $primary-color;
    }
    .do-what-num{
        font-size: $size5;
        padding: 3em;
    }
    .do-what-title-content{
        padding: 0 10em;
        min-width: 4em;
        align-self: center;
    .do-what-title{
        display: flex;
        justify-content: left;
        height: 100%;
        min-width: 7em;
        font-size: $size11;
        align-self: center;
    }    
    }
    
    .do-what-exemples{
        font-size: $size5;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.page-precision{
    height: auto;
    background-color: $fourth-color;
}
.precision-slogan{
    .precision-slogan-content{
        padding: 2em;
        display: flex;
        flex-direction: column;
        text-align: center;
        h2{
            font-size: $size11;
        }
        p{
            font-size: $size5;
            width: 50%;
            margin: 0 auto;
        }
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(11, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        // height: 100vh;
        padding-bottom: 20px;
        .grid-commun{
            border-radius: 20px;
            background-color: $secondary-color;
        }
        .div1 {
            grid-area: 1 / 1 / 5 / 3;
            width: auto;
            height: auto;
            background-color: $secondary-color;
            .grid2-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1em;
                text-align: center;
                h2{
                    font-size: $size7;    
                }
                p{
                    padding:2em;
                    font-size: $size5;
                }
            }
         }
        .div2 { 
            grid-area: 5 / 1 / 7 / 3;
            .grid2-img-content{
                display: flex;
                justify-content: center;
                width: auto;
                margin-top: 20px;
                img{
                    margin: 30px;
                    width: -webkit-fill-available;
                }
            }
         }
        .div3 { 
            grid-area: 1 / 3 / 7 / 5;
            .grid3-img-content{
                height: 100%;
                text-align: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    border-radius: 25px;
                }
            }
         }
        .div4 { 
            grid-area: 7 / 3 / 11 / 5;
            background-color: $secondary-color;
         }
        .div5 { 
            grid-area: 7 / 1 / 12 / 2;
            background-color: $secondary-color;
         }
         .gridtext-content{
            margin: 20px;
            display: flex;
            text-align: center;
            flex-direction: column;
            h2{
                font-size: $size7;
                font-weight: $font4;
                margin: 10px auto;
            }
            p{
                font-size: $size5;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
         }
        .div6{
            grid-area: 7 / 2 / 12 / 3;
            background-color: $secondary-color;
        }
        .div7 {
            grid-area: 11 / 3 / 12 / 5;
            background-color: $secondary-color;
            .grid-number{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                padding: 20px;
                .grid-number-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    h2{
                        font-size: $size9;
                    }
                    p{
                        font-size: $size5;
                    }
                }
            }
         }
        }
        
}
.page-nous{
    height: auto;
    background-color: $secondary-color;
}
.page-text{
    height: auto;
    margin: 3em 0;
    h2{
        font-size: $size10;
    }
    p{
        font-size: $size7;
        width: 50%;
    }
}
.page-parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 70vw;
    height: 150vh;
    .page-grid-content{
        img{
            height: 70%;
            width: 100%;
            object-fit: cover;    
        }
        .page-who{
            display: flex;
            flex-direction: column;
            padding: 15px;
            h3{
                font-size: $size9;
            }
            p{
                font-size: $size5;
                font-weight: $font1;
            }
        }
        
    }
    .page-grid1 { 
        grid-area: 1 / 1 / 6 / 3;
        height: auto;
        
    }
    .page-grid2 { 
        grid-area: 4 / 5 / 9 / 7;
        height: auto;
     }
    .page-grid3 { 
        grid-area: 7 / 2 / 12 / 4;
        height: auto;
     }
    }