* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
}

section {
  padding-left: 3em;
  padding-right: 3em;
}

.page-presentation {
  height: 100vh;
  background-color: #d1c5b6;
}

.presentation-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentation-content .presentation-title {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation-content .presentation-logo {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.page-do {
  height: 150vh;
  background-color: #FFF;
}

.contact-title-content,
.nous-title-content,
.do-title-content,
.precision-title-content {
  mix-blend-mode: multiply;
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000;
}

.contact-title-content .contact-title,
.contact-title-content .nous-title,
.contact-title-content .do-title,
.contact-title-content .precision-title,
.nous-title-content .contact-title,
.nous-title-content .nous-title,
.nous-title-content .do-title,
.nous-title-content .precision-title,
.do-title-content .contact-title,
.do-title-content .nous-title,
.do-title-content .do-title,
.do-title-content .precision-title,
.precision-title-content .contact-title,
.precision-title-content .nous-title,
.precision-title-content .do-title,
.precision-title-content .precision-title {
  font-size: 2em;
  text-transform: uppercase;
  padding: 6px;
}

.do-what-content {
  height: 90vh;
  width: 80vw;
  margin: 6em auto;
}

.do-what-content .do-what {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.do-what-content .do-what-num {
  font-size: 1.5em;
  padding: 3em;
}

.do-what-content .do-what-title-content {
  margin: auto 0;
}

.do-what-content .do-what-title-content .do-what-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 100%;
  width: 30vw;
  font-size: 4.5em;
  -ms-flex-item-align: center;
      align-self: center;
}

.do-what-content .do-what-exemples {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-precision {
  height: auto;
  background-color: #eae9e4;
}

.precision-slogan .precision-slogan-content {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.precision-slogan .precision-slogan-content h2 {
  font-size: 5em;
}

.precision-slogan .precision-slogan-content p {
  font-size: 2em;
  width: 50%;
  margin: 0 auto;
}

.precision-slogan .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
  padding-bottom: 20px;
}

.precision-slogan .parent .grid-commun {
  border-radius: 20px;
  background-color: #FFF;
}

.precision-slogan .parent .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 5 / 3;
  width: auto;
  height: auto;
  background-color: #FFF;
}

.precision-slogan .parent .div2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / 7 / 3;
}

.precision-slogan .parent .div2 .grid2-img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.precision-slogan .parent .div2 .grid2-img-content img {
  margin: 30px;
}

.precision-slogan .parent .div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 7 / 5;
}

.precision-slogan .parent .div3 .grid3-img-content {
  height: 100%;
  text-align: center;
}

.precision-slogan .parent .div3 .grid3-img-content img {
  height: 100%;
  border-radius: 25px;
}

.precision-slogan .parent .div4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 7 / 3 / 11 / 5;
  background-color: #FFF;
}

.precision-slogan .parent .div5 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7 / 1 / 12 / 2;
  background-color: #FFF;
}

.precision-slogan .parent .gridtext-content {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.precision-slogan .parent .gridtext-content h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 10px auto;
}

.precision-slogan .parent .gridtext-content p {
  font-size: 1.2em;
}

.precision-slogan .parent .div6 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7 / 2 / 12 / 3;
  background-color: #FFF;
}

.precision-slogan .parent .div7 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 11 / 3 / 12 / 5;
  background-color: #FFF;
}

.precision-slogan .parent .div7 .grid-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  padding: 20px;
}

.precision-slogan .parent .div7 .grid-number .grid-number-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.precision-slogan .parent .div7 .grid-number .grid-number-content h2 {
  font-size: 3em;
}

.precision-slogan .parent .div7 .grid-number .grid-number-content p {
  font-size: 1.2em;
}

.page-nous {
  height: auto;
  background-color: #FFF;
}

.page-text {
  height: 20vh;
}

.page-text h2 {
  font-size: 4em;
}

.page-text p {
  font-size: 2em;
}

.page-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  width: 70vw;
  height: 150vh;
}

.page-parent .page-grid-content {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.page-parent .page-grid-content img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-parent .page-grid-content .page-who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.page-parent .page-grid-content .page-who h3 {
  font-size: 3em;
}

.page-parent .page-grid-content .page-who p {
  font-size: 1.2em;
  font-weight: 100;
}

.page-parent .page-grid1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 6 / 3;
  height: auto;
}

.page-parent .page-grid2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 4 / 5 / 9 / 7;
  height: auto;
}

.page-parent .page-grid3 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 7 / 2 / 12 / 4;
  height: auto;
}
/*# sourceMappingURL=home.css.map */