@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar,
section {
  padding-left: 3em;
  padding-right: 3em;
}

@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar,
section {
  padding-left: 3em;
  padding-right: 3em;
}

.about {
  height: 100vh;
  padding-top: 10vh;
  background-color: #FFF;
}

@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar,
section {
  padding-left: 3em;
  padding-right: 3em;
}

.page-presentation {
  font-family: "GallientRegular";
  height: 100vh;
  background-color: #d1c5b6;
}

.presentation-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentation-content .presentation-title {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation-content .presentation-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.page-do {
  height: 80vh;
  background-color: #FFF;
}

.do-title-content {
  background-color: #FFF;
  position: relative;
  height: 20vh;
  white-space: nowrap;
  overflow: hidden;
}

.do-title-content .do-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  top: 0;
  opacity: 0.3;
  position: absolute;
  -webkit-animation: do-title 25s infinite linear;
          animation: do-title 25s infinite linear;
}

.do-title-content .do-title-row .do-title {
  font-size: 10em;
  line-height: 100%;
  letter-spacing: -0.033em;
  margin-right: 3.8vw;
  position: relative;
  white-space: nowrap;
}

@-webkit-keyframes do-title {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes do-title {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.do-what-content {
  height: 100%;
  max-width: 80vw;
}

.do-what-content .do-what {
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #000;
}

.do-what-content .do-what-num {
  font-size: 1.2em;
  padding: 3em;
}

.do-what-content .do-what-title-content {
  margin: 0 5em;
}

.do-what-content .do-what-title-content .do-what-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 100%;
  width: 30vw;
  font-size: 4.5em;
  -ms-flex-item-align: center;
      align-self: center;
}

.do-what-content .do-what-exemples {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-precision {
  height: auto;
  background-color: #eae9e4;
}

.precision-slogan .precision-slogan-content {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.precision-slogan .precision-slogan-content h2 {
  font-size: 5em;
}

.precision-slogan .precision-slogan-content p {
  font-size: 1.2em;
  width: 50%;
  margin: 0 auto;
}

.precision-slogan .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-bottom: 20px;
}

.precision-slogan .parent .grid-commun {
  border-radius: 20px;
  background-color: #FFF;
}

.precision-slogan .parent .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 5 / 3;
  width: auto;
  height: auto;
  background-color: #FFF;
}

.precision-slogan .parent .div1 .grid2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  text-align: center;
}

.precision-slogan .parent .div1 .grid2-content h2 {
  font-size: 2em;
}

.precision-slogan .parent .div1 .grid2-content p {
  padding: 2em;
  font-size: 1.2em;
}

.precision-slogan .parent .div2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / 7 / 3;
}

.precision-slogan .parent .div2 .grid2-img-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  margin-top: 20px;
}

.precision-slogan .parent .div2 .grid2-img-content img {
  margin: 30px;
  width: -webkit-fill-available;
}

.precision-slogan .parent .div3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 7 / 5;
}

.precision-slogan .parent .div3 .grid3-img-content {
  height: 100%;
  text-align: center;
}

.precision-slogan .parent .div3 .grid3-img-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 25px;
}

.precision-slogan .parent .div4 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 7 / 3 / 11 / 5;
  background-color: #FFF;
}

.precision-slogan .parent .div5 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 7 / 1 / 12 / 2;
  background-color: #FFF;
}

.precision-slogan .parent .gridtext-content {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.precision-slogan .parent .gridtext-content h2 {
  font-size: 2em;
  font-weight: 400;
  margin: 10px auto;
}

.precision-slogan .parent .gridtext-content p {
  font-size: 1.2em;
}

.precision-slogan .parent .gridtext-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.precision-slogan .parent .div6 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 7 / 2 / 12 / 3;
  background-color: #FFF;
}

.precision-slogan .parent .div7 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 11 / 3 / 12 / 5;
  background-color: #FFF;
}

.precision-slogan .parent .div7 .grid-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  padding: 20px;
}

.precision-slogan .parent .div7 .grid-number .grid-number-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.precision-slogan .parent .div7 .grid-number .grid-number-content h2 {
  font-size: 3em;
}

.precision-slogan .parent .div7 .grid-number .grid-number-content p {
  font-size: 1.2em;
}

.page-nous {
  height: auto;
  background-color: #FFF;
}

.page-text {
  height: auto;
  margin: 3em 0;
}

.page-text h2 {
  font-size: 4em;
}

.page-text p {
  font-size: 2em;
  width: 50%;
}

.page-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  width: 70vw;
  height: 150vh;
}

.page-parent .page-grid-content img {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-parent .page-grid-content .page-who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.page-parent .page-grid-content .page-who h3 {
  font-size: 3em;
}

.page-parent .page-grid-content .page-who p {
  font-size: 1.2em;
  font-weight: 100;
}

.page-parent .page-grid1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 6 / 3;
  height: auto;
}

.page-parent .page-grid2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 4 / 5 / 9 / 7;
  height: auto;
}

.page-parent .page-grid3 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 7 / 2 / 12 / 4;
  height: auto;
}

@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar,
section {
  padding-left: 3em;
  padding-right: 3em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  color: white;
  font-size: 2em;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 10;
  mix-blend-mode: difference;
}

.navbar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: -webkit-backdrop-filter 0.3s linear;
  transition: -webkit-backdrop-filter 0.3s linear;
  transition: backdrop-filter 0.3s linear;
  transition: backdrop-filter 0.3s linear, -webkit-backdrop-filter 0.3s linear;
}

.navbar .blurred:before {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.navbar.visible {
  height: 0px;
  margin: -40px 0;
}

.navbar .logo {
  font-weight: bold;
  margin-left: 1rem;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
}

.navbar .menu a:hover {
  color: #333333;
}

@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar,
section {
  padding-left: 3em;
  padding-right: 3em;
}

.page-contact {
  min-height: 100vh;
  background-color: #eae9e4;
}

.contact-title {
  padding: 2em 0;
  font-size: 2em;
}

.footer {
  padding-top: 9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-credits {
  width: 40vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4em;
}

.footer-credits .footer-credits-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-credits .footer-credits-content .credits-title {
  font-size: 12px;
}

.footer-credits .footer-credits-content .credits-entreprise {
  font-size: 10px;
}

.footer-credits .footer-link-content,
.footer-credits .footer-slogan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-credits .footer-link-content .slogan-title,
.footer-credits .footer-slogan-content .slogan-title {
  font-size: 12px;
}

.footer-credits .footer-link-content .slogan2023,
.footer-credits .footer-slogan-content .slogan2023 {
  font-size: 10px;
}

.footer-link-content a {
  color: #000;
}

@font-face {
  font-family: 'GallientRegular';
  src: local("GallientRegular"), url("/styles/fonts/GallientRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

.navbar,
section {
  padding-left: 3em;
  padding-right: 3em;
}

.contact-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.contact-form-content .contact-form {
  height: 100%;
  width: 40%;
}

.contact-form-content label {
  display: none;
}

.contact-form-content textarea,
.contact-form-content input {
  width: 100%;
  height: 3.8vw;
  background: transparent;
  color: #000;
  -webkit-transition: none !important;
  transition: none !important;
  font-weight: 500;
  font-size: 2em;
  border: none;
  border-bottom: 0.1vw solid rgba(0, 0, 0, 0.16);
}

.contact-form-content textarea {
  min-height: 13vw;
  resize: vertical;
  padding-top: 0.8858vw;
  overflow: auto;
}

.contact-form-content .form-button {
  cursor: pointer;
}

.contact-form-content .form-button value {
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

.contact-form-content .form-button:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 1.4s;
  transition: 1.4s;
}

.contact-form-content .contact-info {
  padding-left: 10em;
  width: 60%;
}

.contact-form-content .contact-info .contact-email,
.contact-form-content .contact-info .contact-num {
  font-size: 2em;
  margin: 0 auto;
}

.contact-form-content .contact-info .contact-email a,
.contact-form-content .contact-info .contact-num a {
  color: #000;
}
/*# sourceMappingURL=index.css.map */