@import '../../styles/settings';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    color: white;
    font-size: $sizeP2;
    transition: .4s;
    z-index: 10;
    mix-blend-mode: difference;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: backdrop-filter 0.3s linear;
    }
    .blurred{
        &:before{
            backdrop-filter: blur(30px);
        }
    }
    
    &.visible {
        height: 0px;
        margin: -40px 0;
      }
  
    .logo {
      font-weight: bold;
      margin-left: 1rem;
    }
  
    .menu {
      display: flex;
      align-items: center;
  
      a {
        color: white;
        text-decoration: none;
        margin: 0 1rem;
        font-weight: bold;
  
        &:hover {
          color: lighten($primary-color, 20%);
        }
      }
    }
  }