@import '../../styles/settings';

.page-contact{
    min-height: 100vh;
    background-color: $six-color;
}
.contact-title{
    padding: 2em 0;
    font-size: $sizeTitle4;
}
.contact-form-content{
    display: flex;
    width: 100%;
    height: auto;
    .contact-form{
        height: 100%;
        width: 40%;
    }
    label{
        
        display: none;
    }
    textarea,
    input{
        width: 100%;
        height: 3.8vw;
        background: transparent;
        color: $primary-color;
        transition: none !important;
        font-weight: 500;
        font-size: $sizeP2;
        border: none;
        border-bottom: 0.1vw solid rgba(0,0,0,0.16);
    }
    textarea{
        min-height: 13vw;
        resize: vertical;
        padding-top: 0.8858vw;
        overflow: auto;
    }
    .form-button{
        cursor: pointer;
        value{
            transform: 0.5s;
        }
        
        &:hover{
            transform: translateX(10px);
            transition: 1.4s;
        }
    }
    .contact-info{
        padding-left: 10em;
        width: 60%;
        .contact-email,
        .contact-num{
            font-size: $sizeTitle4;
            margin: 0 auto;
            a{
              color: $primary-color;  
            }
            
        }
    }

}
.footer{
    padding-top: 9em;
    display: flex;
    justify-content: space-between;
}
.footer-credits{
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    .footer-credits-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .credits-title{
            font-size: 12px;
        }
        .credits-entreprise{
            font-size: 10px;
        }
    }
    .footer-link-content,
    .footer-slogan-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .slogan-title{
            font-size: 12px;
        }
        .slogan2023{
            font-size: 10px;
        }
    }
}
.footer-link-content{
    a{
        color: $primary-color;
    }
}